* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100vw;
    background-color: black;
}

.video-text-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-video {
    height: 100vh;
    object-fit: cover;
}

.intro-text {
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
    transition: all 0.2s ease-in;
    opacity: 1;
    font-size: clamp(1rem, 2vw, 1.7rem);
    font-weight: 700;
}

.pink {
    color: #f3a2fc;
}

.invisible {
    opacity: 0;
}

.header-text {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.content-text {
    color: white;
    font-size: 20px;
}

#about {
    margin: 0 auto;
    height: 60vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#about h2 {
    grid-area: 1 / 1 / 2 / 3;
    align-self: last baseline;
    padding: 10px;
}

#about p {
    grid-area: 2 / 1 / 3 / 3;
    padding: 10px;
}

#about img {
    width: 300px;
    grid-area: 1 / 3 / 3 / 4;
    justify-content: center;
    align-self: center;
    border: 2px solid white;
    border-radius: 8px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 30px;
    padding: 5vh 5vw;
    box-sizing: border-box;
}

.project-video {
    width: 60%;
    border: 5px solid rgb(233, 233, 233);
    border-radius: 20px;
}

.project-link {
    color: #f3a2fc;
    text-decoration: none;
    display: inline-block;
}

.project-description {
    color: white;
}

.bouncing {
    animation: bounce 1s linear infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0);
    }
}

/* FONTS */
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}
